# Google API Credentials
GOOGLE_API_KEY=AIzaSyAG0gM9rUHowL14Aig5KrMtfdeSxnkYQik
GOOGLE_CLIENT_ID=531174220363-3aeog10kkqkmbbgo21nsinf110u3qcin.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_CLIENT_SECRET

# Gmail Configuration
GMAIL_NOTIFICATION_EMAIL=contador@ejemplo.com

# Drive Configuration
DRIVE_BACKUP_FOLDER=PINAD_Documentos

# Sheets Configuration
SHEETS_REPORT_FOLDER=PINAD_Reportes

# Calendar Configuration
CALENDAR_REMINDER_CALENDAR=PINAD_Recordatorios
