openapi: 3.0.0
info:
  title: (π)NAD API
  description: API REST para (π)NAD - Contabilidad Automatizada
  version: 1.0.0
  contact:
    name: (π)NAD Team
    email: contact@pinad.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.pinad.com/v1
    description: Production server
  - url: https://api-staging.pinad.com/v1
    description: Staging server
  - url: http://localhost:8080/v1
    description: Local development server

security:
  - bearerAuth: []

tags:
  - name: Authentication
    description: Operaciones de autenticación
  - name: Documents
    description: Gestión de documentos
  - name: Accounting
    description: Contabilidad y reportes financieros
  - name: Reports
    description: Reportes fiscales (IVA, ISLR)
  - name: Dashboard
    description: Métricas del dashboard
  - name: Notifications
    description: Sistema de notificaciones

paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Registrar nuevo usuario
      description: Crea una nueva cuenta de usuario
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: password123
                name:
                  type: string
                  example: John Doe
      responses:
        '201':
          description: Usuario creado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  uid:
                    type: string
                    example: abc123xyz
        '400':
          description: Solicitud inválida
        '409':
          description: El usuario ya existe
        '500':
          description: Error del servidor

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Iniciar sesión
      description: Autentica un usuario con email y contraseña
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: password123
      responses:
        '200':
          description: Login exitoso
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  user:
                    type: object
                    properties:
                      uid:
                        type: string
                      email:
                        type: string
                      name:
                        type: string
        '401':
          description: Credenciales inválidas
        '500':
          description: Error del servidor

  /auth/google:
    post:
      tags:
        - Authentication
      summary: Iniciar sesión con Google
      description: Autentica un usuario con Google OAuth2
      operationId: googleSignIn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - idToken
              properties:
                idToken:
                  type: string
                  description: Google ID token
                  example: eyJhbGciOiJSUzI1NiIsImtpZCI6IjE...
      responses:
        '200':
          description: Login exitoso
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  token:
                    type: string
                  user:
                    type: object
        '401':
          description: Token inválido
        '500':
          description: Error del servidor

  /auth/forgot-password:
    post:
      tags:
        - Authentication
      summary: Recuperar contraseña
      description: Envía un email de recuperación de contraseña
      operationId: forgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
      responses:
        '200':
          description: Email de recuperación enviado
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '404':
          description: Usuario no encontrado
        '500':
          description: Error del servidor

  /documents:
    get:
      tags:
        - Documents
      summary: Obtener documentos
      description: Retorna la lista de documentos del usuario
      operationId: getDocuments
      parameters:
        - name: limit
          in: query
          description: Número máximo de documentos a retornar
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: Número de documentos a saltar
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Lista de documentos
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
        '401':
          description: No autenticado
        '500':
          description: Error del servidor

    post:
      tags:
        - Documents
      summary: Cargar documento
      description: Carga un nuevo documento
      operationId: uploadDocument
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - documentType
              properties:
                file:
                  type: string
                  format: binary
                  description: Archivo del documento
                documentType:
                  type: string
                  enum:
                    - Factura
                    - Recibo
                    - Reporte Z
                    - Nota de Crédito
                    - Nota de Débito
                    - Otro
                  description: Tipo de documento
                name:
                  type: string
                  description: Nombre del documento
      responses:
        '201':
          description: Documento cargado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Solicitud inválida
        '401':
          description: No autenticado
        '500':
          description: Error del servidor

  /documents/{documentId}:
    get:
      tags:
        - Documents
      summary: Obtener documento
      description: Retorna los detalles de un documento específico
      operationId: getDocument
      parameters:
        - name: documentId
          in: path
          required: true
          description: ID del documento
          schema:
            type: string
      responses:
        '200':
          description: Detalles del documento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          description: Documento no encontrado
        '401':
          description: No autenticado
        '500':
          description: Error del servidor

    delete:
      tags:
        - Documents
      summary: Eliminar documento
      description: Elimina un documento
      operationId: deleteDocument
      parameters:
        - name: documentId
          in: path
          required: true
          description: ID del documento
          schema:
            type: string
      responses:
        '200':
          description: Documento eliminado
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '404':
          description: Documento no encontrado
        '401':
          description: No autenticado
        '500':
          description: Error del servidor

  /accounting/general-ledger:
    get:
      tags:
        - Accounting
      summary: Obtener libro mayor
      description: Retorna el libro mayor de contabilidad
      operationId: getGeneralLedger
      parameters:
        - name: startDate
          in: query
          description: Fecha de inicio (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: Fecha de fin (YYYY-MM-DD)
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Libro mayor
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      $ref: '#/components/schemas/LedgerEntry'
        '401':
          description: No autenticado
        '500':
          description: Error del servidor

  /accounting/balance-sheet:
    get:
      tags:
        - Accounting
      summary: Obtener balance general
      description: Retorna el balance general
      operationId: getBalanceSheet
      parameters:
        - name: asOfDate
          in: query
          description: Fecha de corte (YYYY-MM-DD)
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Balance general
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceSheet'
        '401':
          description: No autenticado
        '500':
          description: Error del servidor

  /accounting/income-statement:
    get:
      tags:
        - Accounting
      summary: Obtener estado de resultados
      description: Retorna el estado de resultados
      operationId: getIncomeStatement
      parameters:
        - name: startDate
          in: query
          description: Fecha de inicio (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: Fecha de fin (YYYY-MM-DD)
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Estado de resultados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeStatement'
        '401':
          description: No autenticado
        '500':
          description: Error del servidor

  /reports/iva:
    get:
      tags:
        - Reports
      summary: Obtener reporte de IVA
      description: Retorna el reporte de IVA para un período
      operationId: getIVAReport
      parameters:
        - name: period
          in: query
          required: true
          description: Período (YYYY-MM)
          schema:
            type: string
            example: '2024-01'
      responses:
        '200':
          description: Reporte de IVA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IVAReport'
        '401':
          description: No autenticado
        '500':
          description: Error del servidor

  /reports/islr:
    get:
      tags:
        - Reports
      summary: Obtener reporte de ISLR
      description: Retorna el reporte de ISLR para un período fiscal
      operationId: getISLRReport
      parameters:
        - name: period
          in: query
          required: true
          description: Período fiscal (YYYY)
          schema:
            type: string
            example: '2024'
      responses:
        '200':
          description: Reporte de ISLR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ISLRReport'
        '401':
          description: No autenticado
        '500':
          description: Error del servidor

  /dashboard/metrics:
    get:
      tags:
        - Dashboard
      summary: Obtener métricas del dashboard
      description: Retorna las métricas del dashboard en tiempo real
      operationId: getDashboardMetrics
      responses:
        '200':
          description: Métricas del dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardMetrics'
        '401':
          description: No autenticado
        '500':
          description: Error del servidor

  /notifications/fcm-token:
    post:
      tags:
        - Notifications
      summary: Actualizar token FCM
      description: Actualiza el token de Firebase Cloud Messaging
      operationId: updateFCMToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fcmToken
              properties:
                fcmToken:
                  type: string
                  description: Token FCM del dispositivo
                  example: dXNlcjEyMzQ6YXNkZmdoaGprbG1ub3BxcnN0dXZ3eHl6
      responses:
        '200':
          description: Token actualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '401':
          description: No autenticado
        '500':
          description: Error del servidor

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Autenticación JWT Bearer token

  schemas:
    Document:
      type: object
      properties:
        id:
          type: string
          example: doc123xyz
        name:
          type: string
          example: Factura #1234
        type:
          type: string
          enum:
            - Factura
            - Recibo
            - Reporte Z
            - Nota de Crédito
            - Nota de Débito
            - Otro
        status:
          type: string
          enum:
            - processing
            - completed
            - failed
          example: completed
        createdAt:
          type: string
          format: date-time
          example: '2024-01-15T10:30:00Z'
        processedAt:
          type: string
          format: date-time
          example: '2024-01-15T10:35:00Z'
        ocrConfidence:
          type: string
          example: '95%'
        extractedData:
          type: object
          properties:
            invoiceNumber:
              type: string
              example: INV-001
            date:
              type: string
              format: date
              example: '2024-01-15'
            amount:
              type: number
              format: double
              example: 1250.00
            tax:
              type: number
              format: double
              example: 225.00

    LedgerEntry:
      type: object
      properties:
        id:
          type: string
        date:
          type: string
          format: date
        description:
          type: string
        account:
          type: string
        debit:
          type: number
          format: double
        credit:
          type: number
          format: double
        balance:
          type: number
          format: double

    BalanceSheet:
      type: object
      properties:
        totalAssets:
          type: number
          format: double
        totalLiabilities:
          type: number
          format: double
        totalEquity:
          type: number
          format: double
        assets:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              amount:
                type: number
                format: double
        liabilities:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              amount:
                type: number
                format: double
        equity:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              amount:
                type: number
                format: double

    IncomeStatement:
      type: object
      properties:
        totalRevenue:
          type: number
          format: double
        totalExpenses:
          type: number
          format: double
        netIncome:
          type: number
          format: double
        revenues:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              amount:
                type: number
                format: double
        expenses:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              amount:
                type: number
                format: double

    IVAReport:
      type: object
      properties:
        period:
          type: string
          example: '2024-01'
        totalSales:
          type: number
          format: double
        totalPurchases:
          type: number
          format: double
        debitIVA:
          type: number
          format: double
        creditIVA:
          type: number
          format: double
        ivaToPay:
          type: number
          format: double
        sales:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              invoiceNumber:
                type: string
              amount:
                type: number
                format: double
              iva:
                type: number
                format: double
              rif:
                type: string
        purchases:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              invoiceNumber:
                type: string
              amount:
                type: number
                format: double
              iva:
                type: number
                format: double
              rif:
                type: string

    ISLRReport:
      type: object
      properties:
        period:
          type: string
          example: '2024'
        grossIncome:
          type: number
          format: double
        deductions:
          type: number
          format: double
        taxableIncome:
          type: number
          format: double
        taxRate:
          type: number
          format: double
        taxToPay:
          type: number
          format: double
        entries:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              description:
                type: string
              amount:
                type: number
                format: double
              type:
                type: string
                enum:
                  - income
                  - deduction

    DashboardMetrics:
      type: object
      properties:
        revenue:
          type: number
          format: double
        expenses:
          type: number
          format: double
        documentsCount:
          type: integer
        clientsCount:
          type: integer
        revenueChange:
          type: number
          format: double
        expensesChange:
          type: number
          format: double
        documentsChange:
          type: integer
        clientsChange:
          type: integer
        recentDocuments:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              date:
                type: string
                format: date
              status:
                type: string
